@use '../../../styles/mixins';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @include mixins.mq(tablet) {
    width: 100%;
  }
}

.todosGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.arrowButton {
  cursor: pointer;
  @include mixins.mq(tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 50%;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: var(--accent-color);
    }
    &:hover svg {
      color: var(--icon-color);
    }
  }
}

.arrowlinkRigth {
  margin-left: 6px;
}

.arrowlinkLeft {
  margin-right: 6px;
}

.arrowButtonLeft {
  @include mixins.mq(tablet) {
    position: absolute;
    margin-left: 5px;
    top: 40%;
    left: 0;
    z-index: 10;
  }
  @include mixins.mq(desktop) {
    top: 41%;
  }
}

.arrowButtonRight {
  @include mixins.mq(tablet) {
    position: absolute;
    margin-right: 5px;
    top: 40%;
    right: 0;
    z-index: 10;
  }
  @include mixins.mq(desktop) {
    top: 41%;
  }
}
