@use '../../styles/mixins';

.todoList {
  padding-bottom: 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../images/Auth/bg-register.jpg);
  background-size: cover;
  height: 100vh;
  @include mixins.mq(tablet) {
    background-repeat: no-repeat;
  }
}

.todosGroupWeek {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 95px;
}
.todosGroupSearch {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 95px;
}
