@use '../../styles/mixins';

.createTodo {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../images/Auth/bg-register.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  justify-content: space-around;
  @include mixins.mq(tablet) {
    background-repeat: no-repeat;
  }
}

.todoPart {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
}

.textarea {
  width: 350px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--second-text-color);
  background-color: var(--background-color);
  border-color: var(--border-color);
  &:focus {
    border-color: black;
  }
  @include mixins.mq(tablet) {
    width: 260px;
    font-size: 15px;
  }
  @include mixins.mq(desktop) {
    width: 350px;
    font-size: 16px;
  }
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
  width: 5px;
  background-color: var(--bg-footer-header);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--btn-border-color);
  width: 5px;
  border-radius: 9em;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--btn-border-color);
}

.addUserGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.addUser {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--border-color);
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: calc(100vh / 2 - 200px);
  left: calc(100vw / 2 - 150px);
  width: 300px;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../images/Auth/bg-register.jpg);
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  z-index: 1200;

  @include mixins.mq(tablet) {
    top: calc(100vh / 2 - 300px);
    left: calc(100vw / 2 - 175px);
    width: 350px;
    height: 600px;
  }
  @include mixins.mq(desktop) {
    top: calc(100vh / 2 - 300px);
    left: calc(100vw / 2 - 200px);
    width: 400px;
    height: 600px;
  }
}

.modalBorder {
  width: 300px;
  height: 400px;
  padding: 10px;
  padding-top: 55px;
  border-radius: 30px;
  border: 2px solid var(--bg-footer-header);
  @include mixins.mq(tablet) {
    padding: 20px;
    padding-top: 55px;
    width: 350px;
    height: 600px;
  }
  @include mixins.mq(desktop) {
    padding: 20px;
    padding-top: 60px;
    width: 400px;
    height: 600px;
  }
}

.dismissButton {
  position: absolute;
  top: 15px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--border-color);
}

.userListShow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  width: 350px;
  min-height: 38px;
  background-color: var(--bg-footer-header);
  @include mixins.mq(tablet) {
    width: 260px;
    min-height: 38px;
  }
  @include mixins.mq(desktop) {
    width: 350px;
    min-height: 48px;
  }
}

.create {
  width: 50%;
  @include mixins.mq(tablet) {
    width: 39%;
  }
  @include mixins.mq(desktop) {
    width: 50%;
  }
}
.preview {
  width: 50%;
  @include mixins.mq(tablet) {
    width: 61%;
  }
  @include mixins.mq(desktop) {
    width: 50%;
  }
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: var(--bg-footer-header);
}

.checkboxDiv {
  width: 350px;
  @include mixins.mq(tablet) {
    width: 260px;
  }
  @include mixins.mq(desktop) {
    width: 350px;
  }
}

.wrap {
  margin-top: 20px;
  margin-bottom: 20px;
}
