@use '../../styles/mixins';

.list {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  width: 345px;
  height: 48px;
  background-color: var(--background-color);
  color: var(--second-text-color);
}

.lastListItem {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  width: 350px;
  height: 48px;
  background-color: var(--background-color);
  color: var(--second-text-color);
}

.scroll {
  width: 350px;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--bg-footer-header);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    width: 5px;
    border-radius: 9em;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--btn-border-color);
  }
}

.checkbox {
  margin-left: 10px;
  margin-right: 10px;
}
