@use '../../../styles/mixins';

.todoSearchBox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  justify-items: center;
  @include mixins.mq(tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    column-gap: 205px;
  }
  @include mixins.mq(desktop) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 95px;
  }
}

.formSection {
  position: relative;
}

.scroll {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 350px;
  max-height: 398px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--bg-footer-header);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--btn-border-color);
    width: 5px;
    border-radius: 9em;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--btn-border-color);
  }
  @include mixins.mq(tablet) {
    width: 260px;
  }
  @include mixins.mq(desktop) {
    width: 350px;
  }
}

.checkbox {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  accent-color: var(--btn-border-color);
}

.list {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  width: 350px;
  height: 38px;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--second-text-color);
  @include mixins.mq(tablet) {
    font-size: 15px;
  }
  @include mixins.mq(desktop) {
    height: 46px;
    font-size: 16px;
  }
}

.lastListItem {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  width: 350px;
  height: 38px;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--second-text-color);
  @include mixins.mq(tablet) {
    font-size: 15px;
  }
  @include mixins.mq(desktop) {
    height: 46px;
    font-size: 16px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  @include mixins.mq(desktop) {
    justify-content: flex-start;
  }
}
