@use '../../../styles/mixins';

.todoSearchBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0px;
  column-gap: 95px;
}

.formSection {
  position: relative;
}

.scroll {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 350px;
  max-height: 398px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--bg-footer-header);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--btn-border-color);
    width: 5px;
    border-radius: 9em;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--btn-border-color);
  }
}

.checkbox {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  accent-color: var(--btn-border-color);
}

.list {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  width: 350px;
  height: 46px;
  background-color: var(--background-color);
  color: var(--second-text-color);
}

.lastListItem {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  width: 350px;
  height: 48px;
  background-color: var(--background-color);
  color: var(--second-text-color);
}

.wrap {
  position: absolute;
  top: 220px;
  left: 0px;
}
